<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Korean ACMilan Fan Site </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />


    <!-- include Korean Font -->
    <link href="https://fonts.googleapis.com/css2?family=Gothic+A1&family=Noto+Sans+KR:wght@200&family=Noto+Serif+KR:wght@500&display=swap" rel="stylesheet">
    
    <!-- include English Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@900&display=swap" rel="stylesheet">

    <!-- include Favicon -->
    <link runat="server" rel="shortcut icon" href="~/images/acmilanista.jpg" type="image/x-icon" />
    <link runat="server" rel="icon" href="~/images/acmilanista.png" type="image/ico" />

    <!-- include SummerNote css/js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.css" />

    <!-- include DarkMode css/js -->
    @*<link rel="stylesheet" href="~/darkmode/dark-mode.css" />*@

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-collapse collapse w-75 dual-collapse2 order-1 order-md-0">
            <ul class="navbar-nav ml-auto text-center list-inline-item">

                <li class="nav-item">
                    <a class="nav-link" asp-area="App" asp-controller="Home" asp-action="Index">Home</a>
                </li>

                &nbsp;&nbsp;

                <li class="nav-item">
                    <a class="nav-link" asp-area="App" asp-controller="Post" asp-action="Index">Free</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" asp-area="App" asp-controller="User" asp-action="Index">Calcio</a>
                </li>
                &nbsp;&nbsp;

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ACM
                    </a>

                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-controller="#" asp-action="#"> Milan Media </a>
                        <a class="dropdown-item" asp-controller="#" asp-action="#"> Milan Match </a>
                    </div>
                </li>
                &nbsp;&nbsp;

            </ul>
        </div>



        <div class="mx-auto my-2 order-0 order-md-1 position-relative">

            <a class="mx-auto" asp-action="Index" asp-controller="Home">
                <img src="~/images/milan_Logo.png" class="img-fluid" style="width:120px; height:85px" />
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
                <span class="navbar-toggler-icon"></span>
            </button>

        </div>


        <div class="navbar-collapse collapse w-100 dual-collapse2 order-2 order-md-2">
            <ul class="navbar-nav mr-auto text-center">
                &nbsp;&nbsp;

                <li class="nav-item">
                    <a class="nav-link" asp-area="App" asp-controller="User" asp-action="Index"> Best </a>
                </li>
                &nbsp;&nbsp;

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Milanista
                    </a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" asp-controller="AccessChecker" asp-action="AllAccess"> 가입인사 </a>
                        <a class="dropdown-item" asp-controller="AccessChecker" asp-action="AllAccess"> Team Milanista</a>
                        <a class="dropdown-item" asp-controller="AccessChecker" asp-action="AllAccess"> Fuck </a>
                    </div>
                </li>
                &nbsp;&nbsp;

                <li class="nav-item">
                    <a class="nav-link" asp-area="App" asp-controller="User" asp-action="Index"> Open Rank </a>
                </li>
                &nbsp;&nbsp;

                <li class="nav-item">
                    <a class="nav-link" asp-area="App" asp-controller="NowMilan" asp-action="Index"> AC Milan Now </a>
                </li>
                &nbsp;&nbsp;


                @if (User.IsInRole("Admin"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            For Administrator
                        </a>

                        <div class="dropdown-menu">
                            @*<div class="dropdown-menu" aria-labelledby="navbarDropdown">*@
                            <a class="dropdown-item" asp-area="App" asp-controller="Role" asp-action="Index"> Role </a>
                            <a class="dropdown-item" asp-area="App" asp-controller="User" asp-action="Index"> 유저리스트 </a>
                        </div>

                    </li>
                }

            </ul>


            @*<ul class="navbar-nav ml-auto flex-nowrap">
                    <li class="nav-item">
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" id="darkSwitch" />
                            <label class="custom-control-label text-white" for="darkSwitch"> Dark Mode </label>
                        </div>
                    </li>
                </ul>*@


            <ul class="navbar-nav ml-auto flex-nowrap">

                <li class="nav-item active ">
                    <partial name="_LoginPartial" />
                </li>

            </ul>

        </div>
    </nav>

    <div class="container-fluid">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - Korean AC Milan Fan Site - <a asp-area="App" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <!-- include Dark-mode css/js -->
    @*<script src="~/darkmode/dark-mode-switch.min.js"></script>*@

    <!-- include summerNote css/js -->
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote.min.js"></script>

    <!-- include dataTable css/js -->
    <script src="https://nightly.datatables.net/js/jquery.dataTables.js"></script>



</body>

</html>
