
@model mySite.Models.Post.NewPostModel
@using mySite.Models.Post

<div class="container">
    <div class="row">

        <form asp-action="Create" asp-controller="Post" asp-area="App" asp-route-postId="@Model.Id" method="post">

            <strong> @Model.AuthorName 님께서는 Free게시판에서 작성 중입니다. </strong>

            <div class="form-group">

                <label asp-for="postType"> 분류 </label>

                <label asp-for="Title">
                    <select name="postType" class="" asp-items="@Html.GetEnumSelectList<PostType>()">
                    </select>
                    제목
                </label>

                <input asp-for="Title" class="col-sm-9" />

                <span asp-validation-for="postType" class="text-danger"></span>
                <span asp-validation-for="Title" class="text-danger"></span>


            </div>

            <div class="form-group">
                <div wire:ignore>
                    <label asp-for="Content"> 내용 </label>
                    <textarea asp-for="Content" rows="50" class="form-control" id="summernote"></textarea>
                    <span asp-validation-for="Content" class="text-danger"></span>
                </div>
            </div>

            <button asp-action="Create" asp-controller="Post" asp-route-postId="@Model.Id" type="submit" class="btn btn-success">
                등록하기
            </button>

            <a asp-action="Index" asp-controller="Post" class="btn btn-warning">
                취소하기
            </a>

        </form>
    </div>
</div>


@section Scripts{

    <script>
        $(document).ready(function () {
            $('#summernote').summernote({
                height: 300,
                focus: true,
                lang: "ko-KR",
                disableDragAndDrop: false,


                //XSS protection
                codeviewFilter: false,
                codeviewIframeFilter: true,


                fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New', '굴림'],
                lineHeights: ['0.2', '0.3', '0.4', '0.5', '0.6', '0.8', '1.0', '1.2', '1.4', '1.5', '2.0', '3.0']

            });
        });

    </script>
}
